<md-toolbar color="primary">Simplex</md-toolbar>
<md-card>
  <md-card-content>
    <md-input-container class="search-input">
      <input mdInput [(ngModel)]="query" (ngModelChange)="search($event)" placeholder="Search Phone">
      <span mdSuffix><md-icon>search</md-icon></span>
    </md-input-container>
    <md-spinner class="spinner" *ngIf='isLoading'></md-spinner>
    <div class="error clearfix">{{errorMessage}}</div>
    <div class="detail-section clearfix" *ngIf='phoneDetail'>
      <h3>Phone Detail:</h3>
      <div class='name-section'>
        <strong>Name: </strong> <span>{{phoneDetail?.name}}</span>
      </div>
      <div class='dimension-section'>
        <strong>Dimension: </strong> <span>{{phoneDetail?.dimension}}</span>
      </div>
    </div>
  </md-card-content>
</md-card>
