.clearfix {
  clear: both;
}
.detail-section .name-section, .detail-section .dimension-section  {
  margin: 10px 0;
}
.error {
  color: red;
}
.search-input {
  float: left;
  margin-right: 10px;
}
.spinner {
  width: 40px;
  height: 40px;
}
